/*********
General
*********/



h4 {

  font-weight: normal;
  margin: 0;
}




/*********
Header
*********/

header {
  display: flex;
  position: ;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 0 auto;

}

#logo {
  color: mediumaquamarine;
  margin: 10px;
  margin-right: auto;


}

.navigation {
  list-style: none;
  margin: 30px;
}

.navigation li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 15px;

}



/**********
Body
**********/

body {
  overflow: scroll;
  font-family: Georgia;
}

.mainContainer {
  display: inline-flex;
  margin: 0 300px;
  margin-bottom: 50px;
  justify-content: flex-start;


}



/**************
Left Column
**************/

.left {
  display: inline-flex;
  flex-wrap: wrap;
  width: 630px;
  margin: 40px 20px;
  margin-left: 0;
  margin-bottom: 0;

}

.mainStory {
  display: inline-flex;
  flex-direction: column;
}

.mainStory h4 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  height: 300px;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.subStory {
  display: flex;
}

.primary {
  width:  295px;
  padding-right: 15px;

}

.secondary {
  width: 295px;
  padding-left: 15px;
}

.subStory .between {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.subStory .bottom {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}





/**************
middle Column
**************/

.middle {
  display: inline-flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 40px 20px 0 20px;
  align-content: flex-start;
}

.fbi {

}

.cats {

}

.cats h4 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}



/**************
right Column
**************/

.right {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 40px 0 0 20px;
  align-content: flex-start;

}



.news h2 {
  font-size: 16px;
  font-weight: bold;
}

.list {
  margin: 0;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: verdana;
  font-size: 12px;
  color: dimgray;
}

.list p {
  border-top: 1px solid black;
  padding-top: 12px;
  margin: 15px 0;
  align-items: center;
}



/**************
footer
**************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: verdana;
  font-size: 12px;
  height: 300px;
}

footer span {
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer a {
  padding: 0 10px;
}
